<div class="container">
    <div class="row" id="footer-wrapper">
        <div class="col-3 text-wrapper">
            <span id="checkmark"></span>
            <p class="footer-text">guaranteed 99.9% uptime</p>
        </div>
        <div class="col-3 text-wrapper">
            <span id="checkmark"></span>
            <p class="footer-text">superior speed performance</p>
        </div>
        <div class="col-3 text-wrapper">
            <span id="checkmark"></span>
            <p class="footer-text">24/7 support chat</p>
        </div>
        <div class="col-3 text-wrapper">
            <span id="checkmark"></span>
            <p class="footer-text">30-day money-back guarantee</p>
        </div>
    </div>
</div>

