$margin: 10px;
$padding: 10px;

$mobile-s: 320px;
$galaxy-s5: 360px;
$mobile-m: 375px;
$mobile-l: 420px;
$tablet: 768px;
$ipad-pro: 995px;
$laptop-s: 1024px;
$laptop-m: 1220px;
$desktop: 1440px;

@mixin mobile-s {
    @media (max-width: #{$mobile-s}) {
        @content;
    }
}

@mixin galaxy-s5 {
    @media (max-width: #{$galaxy-s5}) {
        @content;
    }
}

@mixin mobile-m {
    @media (max-width: #{$mobile-m}) {
        @content;
    }
}

@mixin mobile-l {
    @media (max-width: #{$mobile-l}) {
        @content;
    }
}  

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
} 

@mixin ipad-pro {
    @media (max-width: #{$ipad-pro}) {
        @content;
    }
}

@mixin laptop-s {
    @media (max-width: #{$laptop-s}) {
        @content;
    }
}

@mixin laptop-m {
    @media (max-width: #{$laptop-m}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

#main-wrapper {
    margin-top: 15%;
    margin-bottom: 19vh;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;

    #discount-wrapper {
        display: flex;
        justify-content: center;

        #discount-tag {
            position: relative;
            top: -30px;
            text-transform: uppercase;
            height: 45px;
            margin-left: 500px;
            background: hsl(354, 88%, 73%);
            justify-items: center;
            text-align: center;

            p {
                padding: $padding;
            }
        }
        #discount-tag:after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-top-color: hsl(354, 88%, 73%);
            border-width: 20px;
            margin-left: -20px;
        }
    }

    #offer-wrapper {
        font-size: 38px;
        font-weight: 900;

        // .offer {
            // margin: 0 $margin;
        // }

        #offer-title {
            margin: 0 $margin;
            padding: 0;
        }

        #offer-discount {
            display: flex;
            flex-direction: row;
            margin: 0 $margin;
            padding: 0;

            #red-text {
                margin-right: 10px;
                color: hsl(354, 70%, 54%);
            }
        }

        #offer-countdown {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            #time-block {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-weight: 700;
            }
        }

        #offer-button {
            font-weight: 900;
            text-transform: uppercase;
            padding: $padding 4 * $padding;
        }

        #triangle-right {
            width: 15px;
            height: 15px;
            border-top: 10px solid transparent;
            border-left: 20px solid hsl(354, 70%, 54%);
            border-bottom: 10px solid transparent;
        }
    
        #triangle-left {
            width: 15px;
            height: 15px;
            border-top: 10px solid transparent;
            border-right: 20px solid hsl(354, 70%, 54%);
            border-bottom: 10px solid transparent;
        }

        #time-block__time {
            max-width: 280px;
            height: auto;
        }

        count-down {
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    #price-wrapper {
        display: flex;
        flex-direction: row;

        #price-currency {
            font-size: 120px;
            height: auto;
            margin-top: 50px;
        }

        #price-unit__big-wrapper {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            max-height: 400px;

            #price-unit__big {
                display: inline-block;
                position: relative;
                top: -80px;
                max-height: 400px;
                padding: 10px 10px;
                text-align: center;
                margin: 0 auto;
                font-size: 400px;
                font-weight: 600;
            }
        }

        #price-unit__small {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 100px;
            height: auto;
            margin-top: 30px;

            #price-unit__month {
                text-transform: none;
                font-weight: 500;
                font-size: 70px;
            }
        }
    }
}