$margin: 10px;
$padding: 10px;

$mobile-s: 320px;
$galaxy-s5: 360px;
$mobile-m: 375px;
$mobile-l: 420px;
$tablet: 768px;
$ipad-pro: 995px;
$laptop-s: 1024px;
$laptop-m: 1220px;
$desktop: 1440px;

@mixin mobile-s {
    @media (max-width: #{$mobile-s}) {
        @content;
    }
}

@mixin galaxy-s5 {
    @media (max-width: #{$galaxy-s5}) {
        @content;
    }
}

@mixin mobile-m {
    @media (max-width: #{$mobile-m}) {
        @content;
    }
}

@mixin mobile-l {
    @media (max-width: #{$mobile-l}) {
        @content;
    }
}  

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
} 

@mixin ipad-pro {
    @media (max-width: #{$ipad-pro}) {
        @content;
    }
}

@mixin laptop-s {
    @media (max-width: #{$laptop-s}) {
        @content;
    }
}

@mixin laptop-m {
    @media (max-width: #{$laptop-m}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

#main-wrapper {
    margin-top: 15%;
    margin-bottom: 15%;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    // line-height: 21px;
    // font-size: 14px;

    #discount-tag {
        height: 45px;
        position: relative;
        background: hsl(354, 76%, 67%);
    }
    #discount-tag:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-top-color: hsl(354, 76%, 67%);
        border-width: 20px;
        margin-left: -20px;
    }
    


    #offer-wrapper {
        font-size: 30px;
        font-weight: 600;

        #red-text {
            color: hsl(354, 70%, 54%);
        }

        #offer_button {
            font-weight: 600;
            text-transform: uppercase;
            padding: $padding 4 * $padding;
        }

        #triangle-right {
            width: 15px;
            height: 15px;
            border-top: 10px solid transparent;
            border-left: 20px solid hsl(354, 70%, 54%);
            border-bottom: 10px solid transparent;
        }
    
        #triangle-left {
            width: 15px;
            height: 15px;
            border-top: 10px solid transparent;
            border-right: 20px solid hsl(354, 70%, 54%);
            border-bottom: 10px solid transparent;
        }

        #time-block__time {
            max-width: 280px;
            height: auto;
        }

        count-down {
            // margin: 20px;
            // padding: 2.5px;
            font-size: 12px;
            text-transform: uppercase;
        }
    
    }

    #price_wrapper {
        #price_currency {
            font-size: 150px;
            height: auto;
        }

        #price_unit__big {
            font-size: 320px;
            height: auto;
        }

        #price_unit__small {
            font-size: 150px;
            height: auto;
        }

        #price_unit__month {
            text-transform: none;
        }
    }
}