<div class="container d-flex flex-nowrap flex-column" id="main-wrapper">
    <div class="row" id="discount-wrapper">
        <div class="col-2" id="discount-tag">
            <p>save 82%</p>
        </div>
    </div>
    <div class="row d-flex flex-column flex-md-row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto">
            <div class="container" id="offer-wrapper">
                <div class="row">
                    <div class="col-12" id="offer-title">
                        <p>new year's offer</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" id="offer-discount">
                        <p id="red-text">82% OFF</p>
                        <p>web hosting</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row" id="offer-countdown">
                            <div class="col-1">
                                <div id="triangle-right"></div>
                            </div>
                            <div class="col-7" id="time-block">
                                <count-down units="Days | Hours | Minutes | Seconds" end="July 19, 2019"></count-down>
                            </div>
                            <div class="col-1">
                                <div id="triangle-left"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-danger" id="offer-button">get started now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto">
            <div class="container" id="price-wrapper">
                <div class="row">
                    <div class="col-2">
                        <p id="price-currency">$</p>
                    </div>
                    <div class="col-5" id="price-unit__big-wrapper">
                        <h1 id="price-unit__big">1</h1>
                    </div>
                    <div class="col-4" id="price-unit__small">
                        <div class="row">
                            <p id="price-unit__cents">45</p>
                        </div>
                        <div class="row">
                            <p id="price-unit__month">/mo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

