<div class="container-fluid" id="background-wrapper">
  <div class="container" id="content-wrapper">
    <div class="row" id="header-wrapper">
      <nav class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-around mt-0 navbar navbar-expand-md navbar-light" id="nav-wrapper">
        <div class="col-3 mt-3 mr-4">
          <a href="#" class="navbar-brand">
            <img class="img-fluid" id="hostinger-logo" src="../assets/logo.png" alt="hostinger-logo">
          </a>
        </div>
        <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#navbar-menu"
          aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-9 ml-5" id="navbar-menu">  
          <div class="d-flex justify-content-start" id="navbar-menu__wrapper">
            <ul class="list-group list-group-horizontal d-flex justify-content-end align-items-end" id="navbar-menu__list">
              <li class="list-group-item" id="navbar-menu__item">
                <a href="#">web hosting</a>
              </li>
              <li class="list-group-item" id="navbar-menu__item">
                <a href="#">
                  <p id="navbar-menu__sale-notice"><strong>on sale</strong></p>
                  cloud hosting
                </a>  
              </li>
              <li class="list-group-item" id="navbar-menu__item">
                <a href="#">vps hosting</a>
              </li>
              <li class="list-group-item" id="navbar-menu__item">
                <a href="#">domain checker</a>
              </li>
              <li class="list-group-item" id="navbar-menu__item">
                <a href="#">website builder</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container" id="main-wrapper"></div>
    <div class="container" id="footer-wrapper"></div>
  </div>
</div>