<div class="container-fluid" id="app-wrapper">
  <div class="container" id="layout-wrapper">
    <div class="container" id="header-menu__wrapper">
      <div class="row">
        <div class="col-2" id="header-menu__logo">
          <img class="img-fluid" src="../assets/logo.png" alt="hostinger-logo">
        </div>
        <div class="col-10" id="header-menu__wrapper">
          <ul class="list-group list-group-horizontal" id="header-menu__list">
              <li class="list-group-item" id="header-menu__item">web hosting</li>
              <li class="list-group-item" id="header-menu__item">
                <p id="header-menu__sale-notice">on sale</p>
                cloud hosting
              </li>
              <li class="list-group-item" id="header-menu__item">vps hosting</li>
              <li class="list-group-item" id="header-menu__item">domain checker</li>
              <li class="list-group-item" id="header-menu__item">webstie builder</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="main-wrapper">main</div>
    <div class="row" id="footer-wrapper">footer</div>
  </div>
</div>
