#background-wrapper {
    background-image: url('../assets/background-min-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 80%;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    position: fixed;

    #content-wrapper {
        color: hsl(0, 0%, 100%);
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        // line-height: 21px;
    }
}
